services:
  hospital_neo4j_etl:
    build:
      context: ./hospital_neo4j_etl
    env_file:
      - .env
    platform: linux/amd64
    entrypoint: ["/bin/sh", "/app/entrypoint.sh"]

  chatbot_api:
    build:
      context: ./chatbot_api
    env_file:
      - .env
    depends_on:
      neo4j:
        condition: service_healthy
    ports:
      - "8000:8000"
    platform: linux/amd64
    entrypoint: ["/bin/sh", "/app/src/entrypoint.sh"] 
    environment:
      - NEO4J_URI=neo4j+s://40a9a5d7.databases.neo4j.io
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=NXIh-C_yKlskYMDtftRv8E-1SM46dhc8ssCKCyNosY8
  chatbot_frontend:
    environment:
    - CHATBOT_URL=http://chatbot_api:8000/hospital-rag-agent
    build:
      context: ./chatbot_frontend
    env_file:
      - .env
    depends_on:
      - chatbot_api
    ports:
      - "8501:8501"
    platform: linux/amd64
    entrypoint: ["/bin/sh", "/app/entrypoint.sh"]
    
  cypher_example_portal:
    build:
      context: ./cypher_example_portal
    env_file:
      - .env
    depends_on:
      - hospital_neo4j_etl
    ports:
      - "8502:8502"
    platform: linux/amd64
    entrypoint: ["/bin/sh", "/app/entrypoint.sh"]


  neo4j:
    image: neo4j:5
    ports: ["7474:7474", "7687:7687"]
    environment:
      - NEO4J_AUTH=neo4j/password
    healthcheck:
      test: ["CMD-SHELL", "cypher-shell -u neo4j -p password 'RETURN 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10